.Example {
  & > {
    h2 {
      font-size: 1.25em;
      margin: 0;
    }

    & * + * {
      margin-top: 1em;
    }
  }

  &__caption {
    margin-top: 1em;
  }

  &__props {
    background-color: #efefef;
    border: 1px solid #ccc;
    display: block;
    font-size: 0.75em;
    padding: 0.5em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &::before {
        content: '{';
        display: block;
      }

      &::after {
        content: '}';
        display: block;
      }
    }
    
    li {
      padding-left: 1em;
    }
  }
}